<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.servlets.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>ru.job4j.servlets.SignInController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserServlet</servlet-class>
        <!--load-on-startup>1</load-on-startup-->
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Users Controller Servlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UsersController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users Controller Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User Create Controller Servlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserCreateController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>User Create Controller Servlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>User Update Controller Servlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserUpdateController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>User Update Controller Servlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>